!!!
%html
  %head
    %title Templater
    %link{href: "/style.css", rel: "stylesheet", type: "text/css"}
  %body
    #header
      %h1 Templater
    %div
      %p#writeup{contenteditable: "true"}= Rack::Utils.escape_html(Compiler.compile(session[:tree])).gsub(/\n/,"<br>")
    %form#options
      - session[:opts][:options].each do |opt|
        - opt.each do |rb|
          %input{checked: "true", name: "option_#{Rack::Utils.escape_html(opt.join)}", value: "option_#{Rack::Utils.escape_html(rb)}", onclick: "reloadWriteup()", type: "radio"}/
          = Rack::Utils.escape_html(rb)
        %input{checked: "true", name: "option_#{Rack::Utils.escape_html(opt.join)}", value: "nooption", onclick: "reloadWriteup()", type: "radio"}/
        = Rack::Utils.escape_html("-")
        %br/

      - session[:opts][:variables].each do |k,v|
        = Rack::Utils.escape_html(k)
        \:
        %input{name: "variable_#{Rack::Utils.escape_html(k)}", oninput: "reloadWriteup()", type: "text", value: "#{Rack::Utils.escape_html(v)}"}/
        %br/
    %form#upload{action: "/upload", method: "post", enctype: "multipart/form-data"}
      %input{type: "file", name: "file"}
      %input{type: "submit", value: "Upload"}
    :javascript
      function reloadWriteup() {
      	var xhttp = new XMLHttpRequest();
      	xhttp.onreadystatechange = function() {
      		document.getElementById("writeup").innerHTML = xhttp.responseText;
      	}
      	xhttp.open("POST", "submit", true);
      	var form = document.querySelector('#options')
      	xhttp.send(new FormData(form));
      }
